<div id="realtime-user-legend" style="width:100%;">
     <div id="count">
         <span>In den letzen 5 Minuten</span>
         <div>{{ sum }}</div>
         <span>auf Website aktive Nutzer</span>
     </div>
    <br>
    <div id="legend">
        {% for row in result %}
            <div><span  class="{{ row['devices'] }}"></span>{{ row['devices'] }}</div>
        {% endfor %}
    </div>

    <div id="progress">
        {% for row in result %}
            <div class="{{ row['devices'] }}" style="width:{{ ((row['visits'] / sum) * 100) |round }}%;">{{ ((row['visits'] / sum) * 100) |round(0, 'ceil') }}%</div>
        {% endfor %}
    </div>
    <div id="reflect">
        {% for row in result %}
            <div class="{{ row['devices'] }}" style="width:{{ ((row['visits'] / sum) * 100) |round }}%;">{{ ((row['visits'] / sum) * 100) |round(0, 'ceil') }}%</div>
        {% endfor %}
    </div>
</div>
<script>
    setTimeout(function (){
        console.log('refreshed');
        $('[widgetid=widgetWidgetKLAMBTdevices]').dashboardWidget('reload', false, true);
    }, 1800);
</script>
