<div id="exportCsv"><img src="plugins/WidgetKLAMBT/images/csv.png" title="CSV herunterladen" style="width: 40px;cursor: pointer;"></div>
<table cellspacing="0" class="dataTable">
    <thead>
    <tr>
        <th class="sortable label first">#</th>
        <th class="sortable">
            <center>url</center>
        </th>
        <th class="sortable">
            <center>datum</center>
        </th>
        <th class="sortable">
            <center>Seitenaufrufe</center>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for key,row in result %}
        <tr>
            <td>{{ key+1 }}</td>
            <td class="label first"><a href="https://{{ row['url'] }}" target="_blank">{{ row['url'] }}</a></td>
            <td class="label first">{{ row['datum']|date("m.d.Y") }}</td>
            <td>{{ row['pageimpressions'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $("#exportCsv").click(function(){
        $(".dataTable").kb_table_csv();
    });
    $.prototype.kb_table_csv = function() {

        var kb_tidy_content = function(text){
            text = text.replace(/"/g, '""');
            return '"'+text+'"';
        };

        $(this).each(function(){
            var title = [];
            var rows = [];

            $(this).find('tr').each(function(){
                var data = [];
                $(this).find('th').each(function(){
                    var text = kb_tidy_content($(this).text());
                    title.push(text);
                });

                $(this).find('td').each(function(){
                    var text = kb_tidy_content($(this).text());
                    data.push(text);
                });

                data = data.join(",");
                rows.push(data);
            });

            title = title.join(",");
            rows = rows.join("\n");

            var csv = title + rows;
            var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            var download_link = document.createElement('a');
            download_link.href = uri;
            var month = currentDate.getMonth();
            if (month < 10) month = "0" + month;
            var dateOfMonth = currentDate.getDate();
            if (dateOfMonth < 10) dateOfMonth = "0" + dateOfMonth;
            var year = currentDate.getFullYear();
            var ts = dateOfMonth + "." + month + "." + year;
            download_link.download = ts+".csv";
            document.body.appendChild(download_link);
            download_link.click();
            document.body.removeChild(download_link);
        });
    };
</script>

