
<?php
    function second2date($seconds) {
     $t = round($seconds);
     return sprintf('%02d:%02d:%02d', ($t/3600),($t/60%60), $t%60);
    };
    echo second2date(232323232323);

<img src="plugins/WidgetKLAMBT/images/csv.png" title="CSV herunterladen" style="width: 40px;cursor: pointer;" id="exportCsv" />
<table cellspacing="0" class="dataTable">
    <thead>
    <tr>
        <th class="sortable label first">#</th>
        <th class="sortable text-center">url</th>
        <th class="sortable text-center">datum</th>
        <th class="sortable text-center">Seitenaufrufe</th>
        <th class="sortable text-center">Visits</th>
        <th class="sortable text-center">Durchschnittszeit pro Seite</th>
    </tr>
    </thead>
    <tbody>
    {% for key,row in result %}
        <tr>
            <td>{{ key+1 }}</td>
            <td class="label first"><a href="https://{{ row['url'] }}" target="_blank">{{ row['url'] }}</a></td>
            <td class="label first">{{ row['datum']|date("d.m.Y") }}</td>
            <td class="text-center">{{ row['pageimpressions'] }}</td>
            <td class="text-center">{{ row['unique_pageimpressions'] }}</td>
            <td class="text-center">{{ row['time_on_site'] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $("#exportCsv").click(function(){
        $(".dataTable").kb_table_csv();
    });

    $.prototype.kb_table_csv = function() {

        var kb_tidy_content = function(text){
            text = text.replace(/"/g, '""');
            return '"'+text+'"';
        };

        $(this).each(function(){
            var table = $(this);
            var caption = $(this).find('caption').text();
            var title = [];
            var rows = [];

            $(this).find('tr').each(function(){
                var data = [];
                $(this).find('th').each(function(){
                    var text = kb_tidy_content($(this).text());
                    title.push(text);
                });
                $(this).find('td').each(function(){
                    var text = kb_tidy_content($(this).text());
                    data.push(text);
                });
                data = data.join(",");
                rows.push(data);
            });
            title = title.join(",");
            title = title.replace("\n", '');
            rows = rows.join("\n");

            var csv = title + rows;
            var uri = 'data:text/csv;charset=utf-8,' + encodeURIComponent(csv);
            var download_link = document.createElement('a');
            download_link.href = uri;
            var currentDate = new Date();
            var month = currentDate.getMonth();
            if (month < 10) month = "0" + month;
            var dateOfMonth = currentDate.getDate();
            if (dateOfMonth < 10) dateOfMonth = "0" + dateOfMonth;
            var year = currentDate.getFullYear();
            var formattedDate = dateOfMonth + "." + month + "." + year;
            var ts = formattedDate;
            if(caption==""){
                download_link.download = ts+".csv";
            } else {
                download_link.download = caption+"-"+ts+".csv";
            }
            document.body.appendChild(download_link);
            download_link.click();
            document.body.removeChild(download_link);
        });
    };
</script>

